body{
    background-color: rgb(196, 192, 192);
    margin: 50px 450px;
}
.main{
    background-color: white;
    text-align: center;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main form input{
    padding: 10px 30px;
    margin: 10px;
    border-radius: 5px;
    border-style: solid;
}
.main h1{
    font-family: 'Roboto Condensed';
}
#btn{
    border-radius: 10px;
    border-style: solid;
    border-color: darkorange;
    background-color: darkorange;
}